.goodsCard {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 50px;
    border: 2px solid lightgray;
    padding: 15px;
    border-radius: 10px;
}

.goodsCard img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 180px;
    max-width: 100%;
    margin-bottom: 15px;
}
